@import "text.scss";
@import "color";
@import "box.scss";
@import "grid.scss";
@import "button.scss";
@import "footer.scss";
@import "card.scss";
@import "alert.scss";

*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-dark;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
}

body 
{
    padding: 0;
    margin: 0;
}

a, ul, li
{
    text-decoration: none;
}

ul, li
{
    list-style: none;
}

.admin-menu
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;

    a { color: $primary !important; }

    &:hover
    {
        cursor: pointer;
    }
}

.main-container
{
    min-height: calc(100vh - (96px + 1em + 52px));

    h1
    {
        font-size: 2em;
    }

    h3
    {
        font-weight: normal;
        color: $text-dark;
    }
}

.logo-text
{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}

.menu
{
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child)
    {
        margin-left: 1em;
    }

    &:hover
    {
        cursor: pointer;
    }
}

.menu-user:hover
{
    .user-dropdown-menu
    {
        display: block !important;
    }
}

.icon
{
    font-size: 25px;
}

.right-menu
{
    position: relative;

    .cart-wrapper
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .fa-shopping-bag
    {
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary;
    }
    
    .cart-item-count
    {
        position: absolute;
        top: -.75em;
        right: -.75em;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 12px;
    }

    .user-menu-wrapper
    {
        position: relative;

        p
        {
            height: 100%;
            max-width: 157px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .user-dropdown-menu
        {
            position: absolute;
            top: 1.5em;
            right: -1em;
            background-color: #fff;
            padding: 0;
            box-shadow: 0px .75em 1em $gray;
            border-radius: 5px;
            display: none;

            &::after
            {
                content: '';
                position: absolute;
                top: -11px;
                right: .75em;
                width: 0px;
                height: 0px;
                border-left: 1em solid transparent;
                border-right: 1em solid transparent;
                border-bottom: .75em solid #fff;
            }

            & > li
            {
                width: 150px;
                height: 48px;
                cursor: pointer;
                transition: background-color .3s ease-out;
                display: flex;
                align-items: center;

                &:hover
                {
                    background-color: $light-gray;
                }

                a
                {
                    padding: 1em;
                }
            }
        }
    }
}