@import "color";
@import "input.scss";

p
{
    margin: 0 !important;
}

.card
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.product-image-wrapper
{
    width: 200px;
    height: 200px;
    margin: 1em;

    img
    {
        width: 100%;
        height: 100%
    }
}

.action-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    & button
    {
        min-width: 120px;
    }

    & button:first-child
    {
        margin-right: 1em;
    }
}