@import "color";
@import "product.scss";

.main-container
{
    min-height: calc(100vh - (96px + 52px));
}

.product-header
{
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button 
    {
        margin-left: 1em;
    }
}

.category-combobox-wrapper
{
    margin-left: 1em;
    border-radius: 5px;
    border: 1px solid $primary;
    width: 200px;
    padding: .65em 1em;
    display: flex;
    align-items: center;

    .category-combobox
    {
        width: 100%;
        border: 0;
        outline: 0;
        text-align: center;
    }
}
