.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.card {
  -webkit-box-shadow: 0 0.25em 0.75em #ccc;
          box-shadow: 0 0.25em 0.75em #ccc;
}

.card:hover {
  -webkit-box-shadow: 0 5px 1em #ccc;
          box-shadow: 0 5px 1em #ccc;
}

.product-card {
  position: relative;
  padding-bottom: 1em;
}

.product-image-wrapper {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-name, .product-price, .product-stock, .subtotal {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0em 1em;
  overflow: hidden;
}

.product-price {
  margin-top: .5em;
  font-weight: bolder;
}

.product-name {
  margin-top: 1em;
  font-size: 1em;
}

.product-stock {
  margin-top: .5em;
  font-size: .9em;
}

.product-category-icon-wrapper {
  position: absolute;
  top: .5em;
  right: .5em;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #f3f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 3rem;
}

.product-category-icon-wrapper .category-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.admin-action-buttons .action-button {
  position: absolute;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-action-buttons .action-button:nth-child(1) {
  border: 2px solid #003b69;
  background-color: #226597;
  bottom: 5.25em;
  right: 3.25em;
}

.admin-action-buttons .action-button:nth-child(2) {
  border: 2px solid #90000d;
  background-color: #c82333;
  bottom: 5.25em;
  right: .5em;
}

.main-container {
  min-height: calc(100vh - (96px + 52px));
}

.product-header {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-header button {
  margin-left: 1em;
}

.category-combobox-wrapper {
  margin-left: 1em;
  border-radius: 5px;
  border: 1px solid #113f67;
  width: 200px;
  padding: .65em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-combobox-wrapper .category-combobox {
  width: 100%;
  border: 0;
  outline: 0;
  text-align: center;
}
/*# sourceMappingURL=admin-product.css.map */