@import "color";

.alert
{
    display: block !important;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100%;
}

.alert-danger
{
    border: 1px solid $light-red-text;
    background-color: $light-red;
    color: $light-red-text;
}

.alert-success
{
    border: 1px solid $alert-success-border;
    background-color: $alert-success;
    color: $alert-success-text;
}