.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.alert {
  display: block !important;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
}

.alert-danger {
  border: 1px solid #721c24;
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
  color: #155724;
}
/*# sourceMappingURL=alert.css.map */