.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.text-danger {
  color: #721c24;
}

.text-success {
  color: #155724;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcfs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-0 {
  margin: calc(0 / 4 * 1em) !important;
}

.my-0 {
  margin: calc(0 / 4 * 1em) 0px !important;
}

.mx-0 {
  margin: 0px calc(0 / 4 * 1em) !important;
}

.mt-0 {
  margin-top: calc(0 / 4 * 1em) !important;
}

.mb-0 {
  margin-bottom: calc(0 / 4 * 1em) !important;
}

.ml-0 {
  margin-left: calc(0 / 4 * 1em) !important;
}

.mr-0 {
  margin-right: calc(0 / 4 * 1em) !important;
}

.p-0 {
  padding: calc(0 / 4 * 1em) !important;
}

.py-0 {
  padding: calc(0 / 4 * 1em) 0px !important;
}

.px-0 {
  padding: 0px calc(0 / 4 * 1em) !important;
}

.pt-0 {
  padding-top: calc(0 / 4 * 1em) !important;
}

.pb-0 {
  padding-bottom: calc(0 / 4 * 1em) !important;
}

.pl-0 {
  padding-left: calc(0 / 4 * 1em) !important;
}

.pr-0 {
  padding-right: calc(0 / 4 * 1em) !important;
}

.m-1 {
  margin: calc(1 / 4 * 1em) !important;
}

.my-1 {
  margin: calc(1 / 4 * 1em) 0px !important;
}

.mx-1 {
  margin: 0px calc(1 / 4 * 1em) !important;
}

.mt-1 {
  margin-top: calc(1 / 4 * 1em) !important;
}

.mb-1 {
  margin-bottom: calc(1 / 4 * 1em) !important;
}

.ml-1 {
  margin-left: calc(1 / 4 * 1em) !important;
}

.mr-1 {
  margin-right: calc(1 / 4 * 1em) !important;
}

.p-1 {
  padding: calc(1 / 4 * 1em) !important;
}

.py-1 {
  padding: calc(1 / 4 * 1em) 0px !important;
}

.px-1 {
  padding: 0px calc(1 / 4 * 1em) !important;
}

.pt-1 {
  padding-top: calc(1 / 4 * 1em) !important;
}

.pb-1 {
  padding-bottom: calc(1 / 4 * 1em) !important;
}

.pl-1 {
  padding-left: calc(1 / 4 * 1em) !important;
}

.pr-1 {
  padding-right: calc(1 / 4 * 1em) !important;
}

.m-2 {
  margin: calc(2 / 4 * 1em) !important;
}

.my-2 {
  margin: calc(2 / 4 * 1em) 0px !important;
}

.mx-2 {
  margin: 0px calc(2 / 4 * 1em) !important;
}

.mt-2 {
  margin-top: calc(2 / 4 * 1em) !important;
}

.mb-2 {
  margin-bottom: calc(2 / 4 * 1em) !important;
}

.ml-2 {
  margin-left: calc(2 / 4 * 1em) !important;
}

.mr-2 {
  margin-right: calc(2 / 4 * 1em) !important;
}

.p-2 {
  padding: calc(2 / 4 * 1em) !important;
}

.py-2 {
  padding: calc(2 / 4 * 1em) 0px !important;
}

.px-2 {
  padding: 0px calc(2 / 4 * 1em) !important;
}

.pt-2 {
  padding-top: calc(2 / 4 * 1em) !important;
}

.pb-2 {
  padding-bottom: calc(2 / 4 * 1em) !important;
}

.pl-2 {
  padding-left: calc(2 / 4 * 1em) !important;
}

.pr-2 {
  padding-right: calc(2 / 4 * 1em) !important;
}

.m-3 {
  margin: calc(3 / 4 * 1em) !important;
}

.my-3 {
  margin: calc(3 / 4 * 1em) 0px !important;
}

.mx-3 {
  margin: 0px calc(3 / 4 * 1em) !important;
}

.mt-3 {
  margin-top: calc(3 / 4 * 1em) !important;
}

.mb-3 {
  margin-bottom: calc(3 / 4 * 1em) !important;
}

.ml-3 {
  margin-left: calc(3 / 4 * 1em) !important;
}

.mr-3 {
  margin-right: calc(3 / 4 * 1em) !important;
}

.p-3 {
  padding: calc(3 / 4 * 1em) !important;
}

.py-3 {
  padding: calc(3 / 4 * 1em) 0px !important;
}

.px-3 {
  padding: 0px calc(3 / 4 * 1em) !important;
}

.pt-3 {
  padding-top: calc(3 / 4 * 1em) !important;
}

.pb-3 {
  padding-bottom: calc(3 / 4 * 1em) !important;
}

.pl-3 {
  padding-left: calc(3 / 4 * 1em) !important;
}

.pr-3 {
  padding-right: calc(3 / 4 * 1em) !important;
}

.m-4 {
  margin: calc(4 / 4 * 1em) !important;
}

.my-4 {
  margin: calc(4 / 4 * 1em) 0px !important;
}

.mx-4 {
  margin: 0px calc(4 / 4 * 1em) !important;
}

.mt-4 {
  margin-top: calc(4 / 4 * 1em) !important;
}

.mb-4 {
  margin-bottom: calc(4 / 4 * 1em) !important;
}

.ml-4 {
  margin-left: calc(4 / 4 * 1em) !important;
}

.mr-4 {
  margin-right: calc(4 / 4 * 1em) !important;
}

.p-4 {
  padding: calc(4 / 4 * 1em) !important;
}

.py-4 {
  padding: calc(4 / 4 * 1em) 0px !important;
}

.px-4 {
  padding: 0px calc(4 / 4 * 1em) !important;
}

.pt-4 {
  padding-top: calc(4 / 4 * 1em) !important;
}

.pb-4 {
  padding-bottom: calc(4 / 4 * 1em) !important;
}

.pl-4 {
  padding-left: calc(4 / 4 * 1em) !important;
}

.pr-4 {
  padding-right: calc(4 / 4 * 1em) !important;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
}

.row {
  margin: 0 -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row > [class*="col-"] {
  padding: 0 1em;
  margin-bottom: 2em;
}

.col-xs-1 {
  max-width: calc(100% * (1 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (1 / 12));
          flex: 1 1 calc(100% * (1 / 12));
}

.col-xs-2 {
  max-width: calc(100% * (2 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (2 / 12));
          flex: 1 1 calc(100% * (2 / 12));
}

.col-xs-3 {
  max-width: calc(100% * (3 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (3 / 12));
          flex: 1 1 calc(100% * (3 / 12));
}

.col-xs-4 {
  max-width: calc(100% * (4 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (4 / 12));
          flex: 1 1 calc(100% * (4 / 12));
}

.col-xs-5 {
  max-width: calc(100% * (5 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (5 / 12));
          flex: 1 1 calc(100% * (5 / 12));
}

.col-xs-6 {
  max-width: calc(100% * (6 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (6 / 12));
          flex: 1 1 calc(100% * (6 / 12));
}

.col-xs-7 {
  max-width: calc(100% * (7 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (7 / 12));
          flex: 1 1 calc(100% * (7 / 12));
}

.col-xs-8 {
  max-width: calc(100% * (8 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (8 / 12));
          flex: 1 1 calc(100% * (8 / 12));
}

.col-xs-9 {
  max-width: calc(100% * (9 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (9 / 12));
          flex: 1 1 calc(100% * (9 / 12));
}

.col-xs-10 {
  max-width: calc(100% * (10 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (10 / 12));
          flex: 1 1 calc(100% * (10 / 12));
}

.col-xs-11 {
  max-width: calc(100% * (11 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (11 / 12));
          flex: 1 1 calc(100% * (11 / 12));
}

.col-xs-12 {
  max-width: calc(100% * (12 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (12 / 12));
          flex: 1 1 calc(100% * (12 / 12));
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .col-sm-1 {
    max-width: calc(100% * (1 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (1 / 12));
            flex: 1 1 calc(100% * (1 / 12));
  }
  .col-sm-2 {
    max-width: calc(100% * (2 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (2 / 12));
            flex: 1 1 calc(100% * (2 / 12));
  }
  .col-sm-3 {
    max-width: calc(100% * (3 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (3 / 12));
            flex: 1 1 calc(100% * (3 / 12));
  }
  .col-sm-4 {
    max-width: calc(100% * (4 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (4 / 12));
            flex: 1 1 calc(100% * (4 / 12));
  }
  .col-sm-5 {
    max-width: calc(100% * (5 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (5 / 12));
            flex: 1 1 calc(100% * (5 / 12));
  }
  .col-sm-6 {
    max-width: calc(100% * (6 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (6 / 12));
            flex: 1 1 calc(100% * (6 / 12));
  }
  .col-sm-7 {
    max-width: calc(100% * (7 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (7 / 12));
            flex: 1 1 calc(100% * (7 / 12));
  }
  .col-sm-8 {
    max-width: calc(100% * (8 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (8 / 12));
            flex: 1 1 calc(100% * (8 / 12));
  }
  .col-sm-9 {
    max-width: calc(100% * (9 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (9 / 12));
            flex: 1 1 calc(100% * (9 / 12));
  }
  .col-sm-10 {
    max-width: calc(100% * (10 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (10 / 12));
            flex: 1 1 calc(100% * (10 / 12));
  }
  .col-sm-11 {
    max-width: calc(100% * (11 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (11 / 12));
            flex: 1 1 calc(100% * (11 / 12));
  }
  .col-sm-12 {
    max-width: calc(100% * (12 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (12 / 12));
            flex: 1 1 calc(100% * (12 / 12));
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-1 {
    max-width: calc(100% * (1 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (1 / 12));
            flex: 1 1 calc(100% * (1 / 12));
  }
  .col-md-2 {
    max-width: calc(100% * (2 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (2 / 12));
            flex: 1 1 calc(100% * (2 / 12));
  }
  .col-md-3 {
    max-width: calc(100% * (3 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (3 / 12));
            flex: 1 1 calc(100% * (3 / 12));
  }
  .col-md-4 {
    max-width: calc(100% * (4 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (4 / 12));
            flex: 1 1 calc(100% * (4 / 12));
  }
  .col-md-5 {
    max-width: calc(100% * (5 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (5 / 12));
            flex: 1 1 calc(100% * (5 / 12));
  }
  .col-md-6 {
    max-width: calc(100% * (6 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (6 / 12));
            flex: 1 1 calc(100% * (6 / 12));
  }
  .col-md-7 {
    max-width: calc(100% * (7 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (7 / 12));
            flex: 1 1 calc(100% * (7 / 12));
  }
  .col-md-8 {
    max-width: calc(100% * (8 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (8 / 12));
            flex: 1 1 calc(100% * (8 / 12));
  }
  .col-md-9 {
    max-width: calc(100% * (9 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (9 / 12));
            flex: 1 1 calc(100% * (9 / 12));
  }
  .col-md-10 {
    max-width: calc(100% * (10 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (10 / 12));
            flex: 1 1 calc(100% * (10 / 12));
  }
  .col-md-11 {
    max-width: calc(100% * (11 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (11 / 12));
            flex: 1 1 calc(100% * (11 / 12));
  }
  .col-md-12 {
    max-width: calc(100% * (12 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (12 / 12));
            flex: 1 1 calc(100% * (12 / 12));
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-1 {
    max-width: calc(100% * (1 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (1 / 12));
            flex: 1 1 calc(100% * (1 / 12));
  }
  .col-lg-2 {
    max-width: calc(100% * (2 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (2 / 12));
            flex: 1 1 calc(100% * (2 / 12));
  }
  .col-lg-3 {
    max-width: calc(100% * (3 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (3 / 12));
            flex: 1 1 calc(100% * (3 / 12));
  }
  .col-lg-4 {
    max-width: calc(100% * (4 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (4 / 12));
            flex: 1 1 calc(100% * (4 / 12));
  }
  .col-lg-5 {
    max-width: calc(100% * (5 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (5 / 12));
            flex: 1 1 calc(100% * (5 / 12));
  }
  .col-lg-6 {
    max-width: calc(100% * (6 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (6 / 12));
            flex: 1 1 calc(100% * (6 / 12));
  }
  .col-lg-7 {
    max-width: calc(100% * (7 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (7 / 12));
            flex: 1 1 calc(100% * (7 / 12));
  }
  .col-lg-8 {
    max-width: calc(100% * (8 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (8 / 12));
            flex: 1 1 calc(100% * (8 / 12));
  }
  .col-lg-9 {
    max-width: calc(100% * (9 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (9 / 12));
            flex: 1 1 calc(100% * (9 / 12));
  }
  .col-lg-10 {
    max-width: calc(100% * (10 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (10 / 12));
            flex: 1 1 calc(100% * (10 / 12));
  }
  .col-lg-11 {
    max-width: calc(100% * (11 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (11 / 12));
            flex: 1 1 calc(100% * (11 / 12));
  }
  .col-lg-12 {
    max-width: calc(100% * (12 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (12 / 12));
            flex: 1 1 calc(100% * (12 / 12));
  }
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.btn {
  border: 0;
  padding: .75em 1em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn:disabled {
  background-color: #ccc;
  color: #eee;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #113f67;
  color: #f3f9fb !important;
}

.btn-primary * {
  color: #f3f9fb !important;
}

.btn-secondary {
  background-color: #ccc;
  color: #202020 !important;
}

.btn-secondary * {
  color: #f3f9fb !important;
}

.btn-danger {
  background-color: #c82333;
  color: #f3f9fb;
}

.btn-danger * {
  color: #f3f9fb !important;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

footer {
  color: #202020;
  border: 1px solid #eee;
}

footer .col-md-12 {
  margin-bottom: 0 !important;
}

footer a {
  color: #226597;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  overflow: hidden;
}

.card .card-title, .card .card-footer {
  width: 100%;
  background-color: #eee;
  padding: 1em;
}

.card .card-title {
  color: #202020;
  font-weight: bolder;
}

.card .card-content {
  padding: 1em;
  width: 100%;
}

.card .card-content .row:not(:last-child) {
  margin: 0em -1em 2em;
}

.card .card-content [class*="col-"] {
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="col-"].label {
  font-weight: bolder;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-content .row .label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-content .row:last-child [class*="col-"] {
  margin-bottom: 0;
}

.password-wrapper [class*="col-"] {
  margin-bottom: 1em;
}

.btn-change-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10.25em;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.alert {
  display: block !important;
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
}

.alert-danger {
  border: 1px solid #721c24;
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
  color: #155724;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

input {
  width: 100%;
  border: 0px;
  outline: 0;
}

.input-wrapper {
  width: 100%;
  border: 1px solid #113f67;
  border-radius: 5px;
  padding: .75em 1em !important;
  position: relative;
}

.input-wrapper:not(:last-child) {
  margin-bottom: 1em;
}

.input-wrapper .input-text {
  width: 90%;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  background-color: transparent;
}

.input-wrapper .hint {
  position: absolute;
  top: -.6em;
  left: .5em;
  background-color: #fff;
  color: #113f67;
  padding: 0 .5em;
}

select, textarea {
  outline: 0;
  border: 0 !important;
  width: 100%;
}

select {
  resize: none;
}

textarea {
  resize: vertical;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a, ul, li {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

/* Header */
.home-page-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 999;
}

.logo-text {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}

.search-form {
  width: 20em;
}

.admin-menu {
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #113f67;
  border-radius: 5px;
  border: 2px solid #226597;
}

.admin-menu:not(:last-child) {
  margin-right: 1em;
}

.admin-menu a {
  padding: .5em 1em;
  text-align: center;
  width: 100%;
}

.menu {
  min-width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu:not(:first-child) {
  margin-left: 1em;
}

.menu:hover {
  cursor: pointer;
}

.menu-user:hover .user-dropdown-menu {
  display: block !important;
  position: relative;
}

.icon {
  font-size: 25px;
}

.right-menu {
  position: relative;
}

.right-menu .cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.right-menu .fa-shopping-bag {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #113f67;
}

.right-menu .cart-item-count {
  position: absolute;
  top: -.75em;
  right: -.75em;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}

.right-menu .user-menu-wrapper {
  position: relative;
}

.right-menu .user-menu-wrapper p {
  height: 100%;
  max-width: 157px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.right-menu .user-menu-wrapper .user-dropdown-menu {
  position: absolute;
  top: 1.25em;
  right: -1em;
  background-color: #fff;
  padding: 0;
  -webkit-box-shadow: 0px .25em 1em #aaa;
          box-shadow: 0px .25em 1em #aaa;
  border-radius: 5px;
  display: none;
  z-index: 999;
}

.right-menu .user-menu-wrapper .user-dropdown-menu::after {
  content: '';
  position: absolute;
  top: -11px;
  right: .75em;
  width: 0px;
  height: 0px;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: .75em solid #fff;
}

.right-menu .user-menu-wrapper .user-dropdown-menu > li {
  width: 150px;
  height: 48px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-menu .user-menu-wrapper .user-dropdown-menu > li:hover {
  background-color: #eee;
}

.right-menu .user-menu-wrapper .user-dropdown-menu > li a {
  padding: 1em;
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-content-container {
  min-height: calc(100vh - (96px + 52px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  min-height: calc(100vh - (96px + 52px));
}
/*# sourceMappingURL=app.css.map */