.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcfs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jcfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-0 {
  margin: calc(0 / 4 * 1em) !important;
}

.my-0 {
  margin: calc(0 / 4 * 1em) 0px !important;
}

.mx-0 {
  margin: 0px calc(0 / 4 * 1em) !important;
}

.mt-0 {
  margin-top: calc(0 / 4 * 1em) !important;
}

.mb-0 {
  margin-bottom: calc(0 / 4 * 1em) !important;
}

.ml-0 {
  margin-left: calc(0 / 4 * 1em) !important;
}

.mr-0 {
  margin-right: calc(0 / 4 * 1em) !important;
}

.p-0 {
  padding: calc(0 / 4 * 1em) !important;
}

.py-0 {
  padding: calc(0 / 4 * 1em) 0px !important;
}

.px-0 {
  padding: 0px calc(0 / 4 * 1em) !important;
}

.pt-0 {
  padding-top: calc(0 / 4 * 1em) !important;
}

.pb-0 {
  padding-bottom: calc(0 / 4 * 1em) !important;
}

.pl-0 {
  padding-left: calc(0 / 4 * 1em) !important;
}

.pr-0 {
  padding-right: calc(0 / 4 * 1em) !important;
}

.m-1 {
  margin: calc(1 / 4 * 1em) !important;
}

.my-1 {
  margin: calc(1 / 4 * 1em) 0px !important;
}

.mx-1 {
  margin: 0px calc(1 / 4 * 1em) !important;
}

.mt-1 {
  margin-top: calc(1 / 4 * 1em) !important;
}

.mb-1 {
  margin-bottom: calc(1 / 4 * 1em) !important;
}

.ml-1 {
  margin-left: calc(1 / 4 * 1em) !important;
}

.mr-1 {
  margin-right: calc(1 / 4 * 1em) !important;
}

.p-1 {
  padding: calc(1 / 4 * 1em) !important;
}

.py-1 {
  padding: calc(1 / 4 * 1em) 0px !important;
}

.px-1 {
  padding: 0px calc(1 / 4 * 1em) !important;
}

.pt-1 {
  padding-top: calc(1 / 4 * 1em) !important;
}

.pb-1 {
  padding-bottom: calc(1 / 4 * 1em) !important;
}

.pl-1 {
  padding-left: calc(1 / 4 * 1em) !important;
}

.pr-1 {
  padding-right: calc(1 / 4 * 1em) !important;
}

.m-2 {
  margin: calc(2 / 4 * 1em) !important;
}

.my-2 {
  margin: calc(2 / 4 * 1em) 0px !important;
}

.mx-2 {
  margin: 0px calc(2 / 4 * 1em) !important;
}

.mt-2 {
  margin-top: calc(2 / 4 * 1em) !important;
}

.mb-2 {
  margin-bottom: calc(2 / 4 * 1em) !important;
}

.ml-2 {
  margin-left: calc(2 / 4 * 1em) !important;
}

.mr-2 {
  margin-right: calc(2 / 4 * 1em) !important;
}

.p-2 {
  padding: calc(2 / 4 * 1em) !important;
}

.py-2 {
  padding: calc(2 / 4 * 1em) 0px !important;
}

.px-2 {
  padding: 0px calc(2 / 4 * 1em) !important;
}

.pt-2 {
  padding-top: calc(2 / 4 * 1em) !important;
}

.pb-2 {
  padding-bottom: calc(2 / 4 * 1em) !important;
}

.pl-2 {
  padding-left: calc(2 / 4 * 1em) !important;
}

.pr-2 {
  padding-right: calc(2 / 4 * 1em) !important;
}

.m-3 {
  margin: calc(3 / 4 * 1em) !important;
}

.my-3 {
  margin: calc(3 / 4 * 1em) 0px !important;
}

.mx-3 {
  margin: 0px calc(3 / 4 * 1em) !important;
}

.mt-3 {
  margin-top: calc(3 / 4 * 1em) !important;
}

.mb-3 {
  margin-bottom: calc(3 / 4 * 1em) !important;
}

.ml-3 {
  margin-left: calc(3 / 4 * 1em) !important;
}

.mr-3 {
  margin-right: calc(3 / 4 * 1em) !important;
}

.p-3 {
  padding: calc(3 / 4 * 1em) !important;
}

.py-3 {
  padding: calc(3 / 4 * 1em) 0px !important;
}

.px-3 {
  padding: 0px calc(3 / 4 * 1em) !important;
}

.pt-3 {
  padding-top: calc(3 / 4 * 1em) !important;
}

.pb-3 {
  padding-bottom: calc(3 / 4 * 1em) !important;
}

.pl-3 {
  padding-left: calc(3 / 4 * 1em) !important;
}

.pr-3 {
  padding-right: calc(3 / 4 * 1em) !important;
}

.m-4 {
  margin: calc(4 / 4 * 1em) !important;
}

.my-4 {
  margin: calc(4 / 4 * 1em) 0px !important;
}

.mx-4 {
  margin: 0px calc(4 / 4 * 1em) !important;
}

.mt-4 {
  margin-top: calc(4 / 4 * 1em) !important;
}

.mb-4 {
  margin-bottom: calc(4 / 4 * 1em) !important;
}

.ml-4 {
  margin-left: calc(4 / 4 * 1em) !important;
}

.mr-4 {
  margin-right: calc(4 / 4 * 1em) !important;
}

.p-4 {
  padding: calc(4 / 4 * 1em) !important;
}

.py-4 {
  padding: calc(4 / 4 * 1em) 0px !important;
}

.px-4 {
  padding: 0px calc(4 / 4 * 1em) !important;
}

.pt-4 {
  padding-top: calc(4 / 4 * 1em) !important;
}

.pb-4 {
  padding-bottom: calc(4 / 4 * 1em) !important;
}

.pl-4 {
  padding-left: calc(4 / 4 * 1em) !important;
}

.pr-4 {
  padding-right: calc(4 / 4 * 1em) !important;
}
/*# sourceMappingURL=box.css.map */