.df
{
    display: flex;
}

.fdc
{
    flex-direction: column;
}

.aifs
{
    align-items: flex-start;
}

.aife
{
    align-items: flex-end;
}

.aic
{
    align-items: center;
}

.jcfs
{
    justify-content: flex-start;
}

.jcfe
{
    justify-content: flex-end;
}

.jcc
{
    justify-content: center;
}

@for $i from 0 through 4
{
    .m-#{$i}
    {
        margin: calc(#{$i} / 4 * 1em) !important;
    }

    .my-#{$i}
    {
        margin: calc(#{$i} / 4 * 1em) 0px !important;
    }

    .mx-#{$i}
    {
        margin: 0px calc(#{$i} / 4 * 1em) !important;
    }

    .mt-#{$i}
    {
        margin-top: calc(#{$i} / 4 * 1em) !important;
    }

    .mb-#{$i}
    {
        margin-bottom: calc(#{$i} / 4 * 1em) !important;
    }

    .ml-#{$i}
    {
        margin-left: calc(#{$i} / 4 * 1em) !important;
    }

    .mr-#{$i}
    {
        margin-right: calc(#{$i} / 4 * 1em) !important;
    }

    .p-#{$i}
    {
        padding: calc(#{$i} / 4 * 1em) !important;
    }

    .py-#{$i}
    {
        padding: calc(#{$i} / 4 * 1em) 0px !important;
    }

    .px-#{$i}
    {
        padding: 0px calc(#{$i} / 4 * 1em) !important;
    }

    .pt-#{$i}
    {
        padding-top: calc(#{$i} / 4 * 1em) !important;
    }

    .pb-#{$i}
    {
        padding-bottom: calc(#{$i} / 4 * 1em) !important;
    }

    .pl-#{$i}
    {
        padding-left: calc(#{$i} / 4 * 1em) !important;
    }

    .pr-#{$i}
    {
        padding-right: calc(#{$i} / 4 * 1em) !important;
    }
}