.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.btn {
  border: 0;
  padding: .75em 1em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn:disabled {
  background-color: #ccc;
  color: #eee;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #113f67;
  color: #f3f9fb !important;
}

.btn-primary * {
  color: #f3f9fb !important;
}

.btn-secondary {
  background-color: #ccc;
  color: #202020 !important;
}

.btn-secondary * {
  color: #f3f9fb !important;
}

.btn-danger {
  background-color: #c82333;
  color: #f3f9fb;
}

.btn-danger * {
  color: #f3f9fb !important;
}
/*# sourceMappingURL=button.css.map */