@import "color";

.btn
{
    border: 0;
    padding: .75em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn:disabled
{
    background-color: $gray;
    color: $light-gray;
    cursor: not-allowed;
}

.btn-primary
{
    background-color: $primary;
    color: $pale !important;

    & *
    {
        color: $pale !important;
    }
}

.btn-secondary
{
    background-color: $gray;
    color: $text-dark !important;

    & *
    {
        color: $pale !important;
    }
}

.btn-danger
{
    background-color: $btn-danger;
    color: $pale;
    
    & *
    {
        color: $pale !important;
    }
}