.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  overflow: hidden;
}

.card .card-title, .card .card-footer {
  width: 100%;
  background-color: #eee;
  padding: 1em;
}

.card .card-title {
  color: #202020;
  font-weight: bolder;
}

.card .card-content {
  padding: 1em;
  width: 100%;
}

.card .card-content .row:not(:last-child) {
  margin: 0em -1em 2em;
}

.card .card-content [class*="col-"] {
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="col-"].label {
  font-weight: bolder;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-content .row .label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-content .row:last-child [class*="col-"] {
  margin-bottom: 0;
}

.password-wrapper [class*="col-"] {
  margin-bottom: 1em;
}

.btn-change-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10.25em;
}
/*# sourceMappingURL=card.css.map */