@import "color";

.card
{
    display: flex;
    flex-direction: column;
    border: 1px solid $light-gray;
    border-radius: 5px;
    transition: all .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    overflow: hidden;

    .card-title, .card-footer
    {
        width: 100%;
        background-color: $light-gray;
        padding: 1em;
    }

    .card-title
    {
        color: $text-dark;
        font-weight: bolder;
    }

    .card-content
    {
        padding: 1em;
        width: 100%;

        .row:not(:last-child)
        {
            margin: 0em -1em 2em;
        }

        [class*="col-"]
        {
            margin-bottom: 0;
            align-items: center;
        }
    }
}

[class*="col-"].label
{
  font-weight: bolder;
  margin-bottom: 0;
  align-self: center;
}

.card-content .row
{
  .label
  {
    align-self: center;
  }

  &:last-child
  {
    [class*="col-"]
    {
        margin-bottom: 0;
    }
}
}

.password-wrapper
{
  [class*="col-"]
  {
    margin-bottom: 1em;
  }
}

.btn-change-password
{
  display: flex;
  justify-content: center;
  width: 10.25em;
}