@import "color";
@import "product.scss";

.card
{
  height: 200px;
  width: 100%;
  flex-direction: row;
  margin-bottom: 0;
  border: 0;
}

.product-card
{
  padding-bottom: 0;
}

.product-image-wrapper
{
  width: calc(100% / 3);
  height: 100%;
}

.product-category-icon-wrapper
{
  right: 0;
  left: calc(100% / 3 - 3.5em);
}

.subtotal
{
  position: absolute;
  bottom: 1em;
  font-weight: bolder;
}

.cart-row
{
  &:not(:last-child)
  {
    margin-bottom: 2em;
  }
}

.product-in-cart-detail
{
	width: calc(100% * 2 / 3);
	margin-left: 1em;
}

.delete-button
{
	width: 3em;
	height: 3em;
	background-color: $btn-danger;
	border-radius: 50%;
	position: absolute;
	top: .5em;
	right: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-summary
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 2em;

	.grandtotal
	{
		font-weight: bolder;
		font-size: 1.25rem;
		margin-bottom: .5em;
	}
}