$primary: #113f67;
$secondary: #226597;
$accent: #87c0cd;
$pale: #f3f9fb;
$gray: #ccc;
$light-gray: #eee;
$text-dark: #202020;
$light-red: #f8d7da;
$light-red-text: #721c24;
$btn-danger: #c82333;

.text-primary
{
    color: $primary;
}

.text-secondary
{
    color: $secondary;
}

.text-accent
{
    color: $accent;
}

.text-pale
{
    color: $pale;
}

.bg-primary
{
    background-color: $primary;
}

.bg-secondary
{
    background-color: $secondary;
}

.bg-accent
{
    background-color: $accent;
}