.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

footer {
  color: #202020;
  border: 1px solid #eee;
}

footer .col-md-12 {
  margin-bottom: 0 !important;
}

footer a {
  color: #226597;
}
/*# sourceMappingURL=footer.css.map */