.container {
  margin: 0 auto;
  padding: 0 1em;
}

.row {
  margin: 0 -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.row > [class*="col-"] {
  padding: 0 1em;
  margin-bottom: 2em;
}

.col-xs-1 {
  max-width: calc(100% * (1 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (1 / 12));
          flex: 1 1 calc(100% * (1 / 12));
}

.col-xs-2 {
  max-width: calc(100% * (2 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (2 / 12));
          flex: 1 1 calc(100% * (2 / 12));
}

.col-xs-3 {
  max-width: calc(100% * (3 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (3 / 12));
          flex: 1 1 calc(100% * (3 / 12));
}

.col-xs-4 {
  max-width: calc(100% * (4 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (4 / 12));
          flex: 1 1 calc(100% * (4 / 12));
}

.col-xs-5 {
  max-width: calc(100% * (5 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (5 / 12));
          flex: 1 1 calc(100% * (5 / 12));
}

.col-xs-6 {
  max-width: calc(100% * (6 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (6 / 12));
          flex: 1 1 calc(100% * (6 / 12));
}

.col-xs-7 {
  max-width: calc(100% * (7 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (7 / 12));
          flex: 1 1 calc(100% * (7 / 12));
}

.col-xs-8 {
  max-width: calc(100% * (8 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (8 / 12));
          flex: 1 1 calc(100% * (8 / 12));
}

.col-xs-9 {
  max-width: calc(100% * (9 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (9 / 12));
          flex: 1 1 calc(100% * (9 / 12));
}

.col-xs-10 {
  max-width: calc(100% * (10 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (10 / 12));
          flex: 1 1 calc(100% * (10 / 12));
}

.col-xs-11 {
  max-width: calc(100% * (11 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (11 / 12));
          flex: 1 1 calc(100% * (11 / 12));
}

.col-xs-12 {
  max-width: calc(100% * (12 / 12));
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% * (12 / 12));
          flex: 1 1 calc(100% * (12 / 12));
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .col-sm-1 {
    max-width: calc(100% * (1 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (1 / 12));
            flex: 1 1 calc(100% * (1 / 12));
  }
  .col-sm-2 {
    max-width: calc(100% * (2 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (2 / 12));
            flex: 1 1 calc(100% * (2 / 12));
  }
  .col-sm-3 {
    max-width: calc(100% * (3 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (3 / 12));
            flex: 1 1 calc(100% * (3 / 12));
  }
  .col-sm-4 {
    max-width: calc(100% * (4 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (4 / 12));
            flex: 1 1 calc(100% * (4 / 12));
  }
  .col-sm-5 {
    max-width: calc(100% * (5 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (5 / 12));
            flex: 1 1 calc(100% * (5 / 12));
  }
  .col-sm-6 {
    max-width: calc(100% * (6 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (6 / 12));
            flex: 1 1 calc(100% * (6 / 12));
  }
  .col-sm-7 {
    max-width: calc(100% * (7 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (7 / 12));
            flex: 1 1 calc(100% * (7 / 12));
  }
  .col-sm-8 {
    max-width: calc(100% * (8 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (8 / 12));
            flex: 1 1 calc(100% * (8 / 12));
  }
  .col-sm-9 {
    max-width: calc(100% * (9 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (9 / 12));
            flex: 1 1 calc(100% * (9 / 12));
  }
  .col-sm-10 {
    max-width: calc(100% * (10 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (10 / 12));
            flex: 1 1 calc(100% * (10 / 12));
  }
  .col-sm-11 {
    max-width: calc(100% * (11 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (11 / 12));
            flex: 1 1 calc(100% * (11 / 12));
  }
  .col-sm-12 {
    max-width: calc(100% * (12 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (12 / 12));
            flex: 1 1 calc(100% * (12 / 12));
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-1 {
    max-width: calc(100% * (1 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (1 / 12));
            flex: 1 1 calc(100% * (1 / 12));
  }
  .col-md-2 {
    max-width: calc(100% * (2 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (2 / 12));
            flex: 1 1 calc(100% * (2 / 12));
  }
  .col-md-3 {
    max-width: calc(100% * (3 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (3 / 12));
            flex: 1 1 calc(100% * (3 / 12));
  }
  .col-md-4 {
    max-width: calc(100% * (4 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (4 / 12));
            flex: 1 1 calc(100% * (4 / 12));
  }
  .col-md-5 {
    max-width: calc(100% * (5 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (5 / 12));
            flex: 1 1 calc(100% * (5 / 12));
  }
  .col-md-6 {
    max-width: calc(100% * (6 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (6 / 12));
            flex: 1 1 calc(100% * (6 / 12));
  }
  .col-md-7 {
    max-width: calc(100% * (7 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (7 / 12));
            flex: 1 1 calc(100% * (7 / 12));
  }
  .col-md-8 {
    max-width: calc(100% * (8 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (8 / 12));
            flex: 1 1 calc(100% * (8 / 12));
  }
  .col-md-9 {
    max-width: calc(100% * (9 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (9 / 12));
            flex: 1 1 calc(100% * (9 / 12));
  }
  .col-md-10 {
    max-width: calc(100% * (10 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (10 / 12));
            flex: 1 1 calc(100% * (10 / 12));
  }
  .col-md-11 {
    max-width: calc(100% * (11 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (11 / 12));
            flex: 1 1 calc(100% * (11 / 12));
  }
  .col-md-12 {
    max-width: calc(100% * (12 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (12 / 12));
            flex: 1 1 calc(100% * (12 / 12));
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-1 {
    max-width: calc(100% * (1 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (1 / 12));
            flex: 1 1 calc(100% * (1 / 12));
  }
  .col-lg-2 {
    max-width: calc(100% * (2 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (2 / 12));
            flex: 1 1 calc(100% * (2 / 12));
  }
  .col-lg-3 {
    max-width: calc(100% * (3 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (3 / 12));
            flex: 1 1 calc(100% * (3 / 12));
  }
  .col-lg-4 {
    max-width: calc(100% * (4 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (4 / 12));
            flex: 1 1 calc(100% * (4 / 12));
  }
  .col-lg-5 {
    max-width: calc(100% * (5 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (5 / 12));
            flex: 1 1 calc(100% * (5 / 12));
  }
  .col-lg-6 {
    max-width: calc(100% * (6 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (6 / 12));
            flex: 1 1 calc(100% * (6 / 12));
  }
  .col-lg-7 {
    max-width: calc(100% * (7 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (7 / 12));
            flex: 1 1 calc(100% * (7 / 12));
  }
  .col-lg-8 {
    max-width: calc(100% * (8 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (8 / 12));
            flex: 1 1 calc(100% * (8 / 12));
  }
  .col-lg-9 {
    max-width: calc(100% * (9 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (9 / 12));
            flex: 1 1 calc(100% * (9 / 12));
  }
  .col-lg-10 {
    max-width: calc(100% * (10 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (10 / 12));
            flex: 1 1 calc(100% * (10 / 12));
  }
  .col-lg-11 {
    max-width: calc(100% * (11 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (11 / 12));
            flex: 1 1 calc(100% * (11 / 12));
  }
  .col-lg-12 {
    max-width: calc(100% * (12 / 12));
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% * (12 / 12));
            flex: 1 1 calc(100% * (12 / 12));
  }
}
/*# sourceMappingURL=grid.css.map */