.container
{
    margin: 0 auto;
    padding: 0 1em;
}

.row
{
    margin: 0 -1em;
    display: flex;
    flex-flow: row wrap;
}

.row > [class*="col-"]
{
    padding: 0 1em;
    margin-bottom: 2em;
}

@for $i from 1 through 12
{
    .col-xs-#{$i} 
    {
        max-width: calc(100% * (#{$i} / 12));
        flex: 1 1 calc(100% * (#{$i} / 12));
    }
}

@media screen and (min-width: 768px)
{
    .container { width: 720px; }
    @for $i from 1 through 12
    {
        .col-sm-#{$i}
        {
            max-width: calc(100% * (#{$i} / 12));
            flex: 1 1 calc(100% * (#{$i} / 12));
        }
    }
}

@media screen and (min-width: 992px)
{
    .container { width: 970px; }

    @for $i from 1 through 12
    {
        .col-md-#{$i}
        {
            max-width: calc(100% * (#{$i} / 12));
            flex: 1 1 calc(100% * (#{$i} / 12));
        }
    }
}

@media screen and (min-width: 1200px)
{
    .container { width: 1170px; }
    @for $i from 1 through 12
    {
        .col-lg-#{$i}
        {
            max-width: calc(100% * (#{$i} / 12));
            flex: 1 1 calc(100% * (#{$i} / 12));
        }
    }
}