@import "color";
@import "product.scss";

#banner
{
    position: relative;
    overflow: hidden;
}

.slider-wrapper
{
    width: 300%;
    display: flex;
    animation: slideLeft 24s ease-out infinite;

    .slider
    {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    
        img
        {
            position: absolute;
            top: 0;
            object-fit: cover;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
    
        .container
        {
            height: 100%;
            position: relative;
            top: 156px;
            text-transform: uppercase;
    
            h5
            {
                color: #666;
                letter-spacing: 12px;
            }
    
            h1
            {
                color: #333;
                font-size: 2em;
            }

            .caption
            {
                margin-top: 1em;
                font-size: 2em;
            }
        }
    }
}

.section-title
{
    font-size: 2em;
    padding: .5em;
    border-bottom: 2px solid $primary;
    color: $primary;
}

.card {
    padding-bottom: 1em;
}

.see-more-product
{
    margin-top: 1em;
    color: $primary;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1em !important;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
}

@keyframes slideLeft
{
    0%, 20% { margin-left: 0; }
    21%, 40% { margin-left: -100%; }
    41%, 60% { margin-left: -200%; }
    61%, 80% { margin-left: -100%; }
    81%, 100% { margin-left: 0; }
}