.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.card {
  -webkit-box-shadow: 0 0.25em 0.75em #ccc;
          box-shadow: 0 0.25em 0.75em #ccc;
}

.card:hover {
  -webkit-box-shadow: 0 5px 1em #ccc;
          box-shadow: 0 5px 1em #ccc;
}

.product-card {
  position: relative;
  padding-bottom: 1em;
}

.product-image-wrapper {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-name, .product-price, .product-stock, .subtotal {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0em 1em;
  overflow: hidden;
}

.product-price {
  margin-top: .5em;
  font-weight: bolder;
}

.product-name {
  margin-top: 1em;
  font-size: 1em;
}

.product-stock {
  margin-top: .5em;
  font-size: .9em;
}

.product-category-icon-wrapper {
  position: absolute;
  top: .5em;
  right: .5em;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #f3f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 3rem;
}

.product-category-icon-wrapper .category-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.admin-action-buttons .action-button {
  position: absolute;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-action-buttons .action-button:nth-child(1) {
  border: 2px solid #003b69;
  background-color: #226597;
  bottom: 5.25em;
  right: 3.25em;
}

.admin-action-buttons .action-button:nth-child(2) {
  border: 2px solid #90000d;
  background-color: #c82333;
  bottom: 5.25em;
  right: .5em;
}

#banner {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideLeft 24s ease-out infinite;
          animation: slideLeft 24s ease-out infinite;
}

.slider-wrapper .slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider-wrapper .slider img {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.slider-wrapper .slider .container {
  height: 100%;
  position: relative;
  top: 156px;
  text-transform: uppercase;
}

.slider-wrapper .slider .container h5 {
  color: #666;
  letter-spacing: 12px;
}

.slider-wrapper .slider .container h1 {
  color: #333;
  font-size: 2em;
}

.slider-wrapper .slider .container .caption {
  margin-top: 1em;
  font-size: 2em;
}

.section-title {
  font-size: 2em;
  padding: .5em;
  border-bottom: 2px solid #113f67;
  color: #113f67;
}

.card {
  padding-bottom: 1em;
}

.see-more-product {
  margin-top: 1em;
  color: #113f67;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1em !important;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@-webkit-keyframes slideLeft {
  0%, 20% {
    margin-left: 0;
  }
  21%, 40% {
    margin-left: -100%;
  }
  41%, 60% {
    margin-left: -200%;
  }
  61%, 80% {
    margin-left: -100%;
  }
  81%, 100% {
    margin-left: 0;
  }
}

@keyframes slideLeft {
  0%, 20% {
    margin-left: 0;
  }
  21%, 40% {
    margin-left: -100%;
  }
  41%, 60% {
    margin-left: -200%;
  }
  61%, 80% {
    margin-left: -100%;
  }
  81%, 100% {
    margin-left: 0;
  }
}
/*# sourceMappingURL=home.css.map */