.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

input {
  width: 100%;
  border: 0px;
  outline: 0;
}

.input-wrapper {
  width: 100%;
  border: 1px solid #113f67;
  border-radius: 5px;
  padding: .75em 1em !important;
  position: relative;
}

.input-wrapper:not(:last-child) {
  margin-bottom: 1em;
}

.input-wrapper .input-text {
  width: 90%;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  background-color: transparent;
}

.input-wrapper .hint {
  position: absolute;
  top: -.6em;
  left: .5em;
  background-color: #fff;
  color: #113f67;
  padding: 0 .5em;
}

select, textarea {
  outline: 0;
  border: 0 !important;
  width: 100%;
}

select {
  resize: none;
}

textarea {
  resize: vertical;
}
/*# sourceMappingURL=input.css.map */