@import "color";

input
{
    width: 100%;
    border: 0px;
    outline: 0;
}

.input-wrapper 
{
    width: 100%;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: .75em 1em !important;
    position: relative;
    
    &:not(:last-child) { margin-bottom: 1em; }

    .input-text
    {
        width: 90%;
        border: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        background-color: transparent;
    }

    .hint
    {
        position: absolute;
        top: -.6em;
        left: .5em;
        background-color: #fff;
        color: $primary;
        padding: 0 .5em;
    }
}

%select-and-text-area-style
{
    outline: 0;
    border: 0 !important;
    width: 100%;
}

select
{
    @extend %select-and-text-area-style;
    resize: none;
}

textarea
{
    @extend %select-and-text-area-style;
    resize: vertical;
}