.login-form {
  height: calc(100vh - (112px + 52px + 16px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30%;
}

.checkbox-wrapper input {
  width: auto;
}
/*# sourceMappingURL=login.css.map */