.login-form
{
    height: calc(100vh - (112px + 52px + 16px));
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30%;
}

.checkbox-wrapper
{
    input { width: auto; }
}