.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

p {
  margin: 0 !important;
}

.card {
  -webkit-box-shadow: 0 0.25em 0.75em #ccc;
          box-shadow: 0 0.25em 0.75em #ccc;
}

.card:hover {
  -webkit-box-shadow: 0 5px 1em #ccc;
          box-shadow: 0 5px 1em #ccc;
}

.product-image-wrapper {
  width: 200px;
  height: 200px;
  margin: 1em;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
}

.product-name {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 1em !important;
  font-weight: 800;
}

.category-name {
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: .5em !important;
}

.product-price {
  font-size: 1.25em;
  margin: 1em 0em !important;
  font-weight: bolder;
}

.product-stock {
  margin-bottom: 1em !important;
}

.action-wrapper {
  width: 100%;
}

.action-wrapper button {
  margin-left: 1em;
}

.read-only-input {
  cursor: default;
}

textarea {
  max-height: 10em;
}
/*# sourceMappingURL=product-detail.css.map */