@import "color";

.card
{
    box-shadow: 0 .25em .75em $gray;

    &:hover
    {
        box-shadow: 0 5px 1em $gray;
    }
}

.product-card
{
    position: relative;
    padding-bottom: 1em;
}

.product-image-wrapper
{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid $light-gray;

    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-name, .product-price, .product-stock, .subtotal
{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0em 1em;
    overflow: hidden;
}

.product-price
{
    margin-top: .5em;
    font-weight: bolder;
}

.product-name
{
    margin-top: 1em;
    font-size: 1em;
}

.product-stock
{
    margin-top: .5em;
    font-size: .9em;
}

.product-category-icon-wrapper
{
    position: absolute;
    top: .5em;
    right: .5em;
    border: 1px solid $gray;
    border-radius: 50%;
    background-color: $pale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;

    .category-icon
    {
        width: 1.75rem;
        height: 1.75rem;
    }
}

.admin-action-buttons
{
    .action-button
    {
        position: absolute;
        border-radius: 50%;
        width: 2.25em;
        height: 2.25em;
        outline: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1)
        {
            border:2px solid #003b69;
            background-color: $secondary;
            bottom: 5.25em;
            right: 3.25em;
        }
    
        &:nth-child(2)
        {
            border:2px solid #90000d;
            background-color: $btn-danger;
            bottom: 5.25em;
            right: .5em;
        }
    }
}