@import "color";

p
{
    margin: 0 !important;
}

.card
{
    box-shadow: 0 .25em .75em $gray;

    &:hover
    {
        box-shadow: 0 5px 1em $gray;
    }
}

.product-image-wrapper
{
    width: 200px;
    height: 200px;
    margin: 1em;

    img
    {
        width: 100%;
        height: 100%
    }
}

.product-name
{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1em !important;
    font-weight: 800;
}

.category-name
{
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: .5em !important;
}

.product-price  
{
    font-size: 1.25em;
    margin: 1em 0em !important;
    font-weight: bolder;
}

.product-stock
{
    margin-bottom: 1em !important;
}

.action-wrapper
{
    width: 100%;

    button
    {
        margin-left: 1em;
        // width: 150px;
    }
}

.read-only-input
{
    cursor: default;
}

textarea
{
    max-height: 10em;
}