.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

.row > [class*="col-"] {
  margin-bottom: 1em;
}

.no-border {
  border: 0px !important;
}

.radio-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 150px;
}

.radio-content input {
  width: auto;
  margin-right: .5em;
}

.gender-title {
  margin: .5em 0;
}
/*# sourceMappingURL=register.css.map */