@import "color";

.row > [class*="col-"]
{
    margin-bottom: 1em;
}

.no-border
{
    border: 0px !important;
}

.radio-content
{
    justify-content: flex-start;
    width: 150px;

    input
    {
        width: auto;
        margin-right: .5em;
    }
}

.gender-title
{
    margin: .5em 0;
}