@import "color";

table
{
    width: 100%;
    border-collapse: collapse;

    .table-header
    {
        border-top: 1px solid $gray;
        border-bottom: 2px solid $gray;
    }

    th
    {
        padding: 1em 0;
    }

    td
    {
        padding: .5em 0;
        min-width: 5em;
        max-width: calc(100% / 8);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    tr:not(:last-child)
    {
        border-bottom: 1px solid $gray;
    }
}