.text-primary {
  color: #113f67;
}

.text-secondary {
  color: #226597;
}

.text-accent {
  color: #87c0cd;
}

.text-pale {
  color: #f3f9fb;
}

.bg-primary {
  background-color: #113f67;
}

.bg-secondary {
  background-color: #226597;
}

.bg-accent {
  background-color: #87c0cd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table .table-header {
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}

table th {
  padding: 1em 0;
}

table td {
  padding: .5em 0;
  min-width: 5em;
  max-width: calc(100% / 8);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
/*# sourceMappingURL=table.css.map */