@import "color";

.tac
{
    text-align: center;
}

.tar
{
    text-align: right;
}

.tal
{
    text-align: left;
}

.text-danger
{
    color: $light-red-text;
}

.text-success
{
    color: $alert-success-text;
}