@import "color";
@import "table.scss";

.transaction-header
{
  margin-top: 1em;
  margin-bottom: 1em;
  background: $light-gray;

  [class*="col-md"]
  {
    margin-bottom: 0;
    height: 100%;
    padding: 1em;
  }

  .row 
  {
    .col-md-4, .col-md-1 { font-weight: bolder; }
  }

  .button-approve-wrapper { padding: 0 1em; }
}

.grandtotal
{
  font-weight: bolder;
}